nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

form {
  background: red;
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  height: 200px;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.nav-portion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bb08e7;
  color: black;
  padding: 1.5rem 6rem;
}

.nav-portion h3,
.project-title {
  color: black;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 900;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  list-style-type: none;
}
.nav-list li {
  font-family: "Montserrat";
  font-weight: 600;
  margin: 0 1rem;
  cursor: pointer;
}

.profile-icon {
  background: black;
  color: rgb(231, 41, 41);
  padding: 0.7rem;
  border-radius: 100%;
  font-size: 0.7rem;
}

.sidebar-container {
  position: absolute;
  background: #fafafa;
  box-shadow: 0 0 25px -10px black;
  border-radius: 5px;
  font-family: Montserrat;
  width: 20%;
  z-index: 2;
  left: calc(80% - 5rem);
}

.profile-hover li {
  padding: 20px;
}

.profile-hover li:hover {
  background: #eceff1;
}
.llb-class {
  color: black;
}

@media (max-width: 700px) {
  html {
    font-size: 13px;
  }
  .nav2 {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
  nav {
    padding: 1rem 1rem;
  }
  .nav-list {
    justify-content: center;
  }
  .nav-list li {
    margin: 0 0.4rem;
  }
}
